<%- include('../includes/header')-%>
<section class="container margin-top top">
  <h1>Password reset link is send to your email adress.</h1>
  <p>Check your inbox</p>
  <p>or</p>
  <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="btn"
    >Click to open gmail app</a
  >
</section>
<%- include('../includes/footer')-%>
