<%- include('../includes/header')-%>
<section>
  <div class="register">
    <h1>Register Form</h1>
    <form action="/auth/register" method="post" class="inner-form">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <%if(errorMsg){%>
      <p class="error-status"><%=errorMsg%></p>
      <%}%>
      <div class="w-full">
        <lable for="name">Name</lable>
        <input type="text" id="name" name="username"  class="w-full" required/>
      </div>
      <div class="w-full">
        <lable for="email">Email</lable>
        <input type="text" id="email" name="email"  class="w-full" required/>
      </div>
      <div class="w-full">
        <lable for="password">Password</lable>
        <input type="password" id="password" name="password" class="w-full" required />
      </div>
      <button class="btn">Register</button>
    </form>
  </div>
</section>
<%- include('../includes/footer')-%>
