<%- include('../includes/header')-%>
<section class="container margin-top top">
  <form action="/auth/reset-password" method="post" class=" form ">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <div class=" flex-start gap-md width-full padding-md flex-col">
      <h1>Reset Password Page</h1>
      <%if(errorMsg){%>
      <p class="bg-red width-full"><%= errorMsg%></p>
      <%}%>
      <div class="width-full">
        <label for="email">Email</label
        ><input class="width-80" type="text" name="email" id="email" required />
      </div>
      <button class="btn">Reset Password</button>
    </div>
  </form>
</section>
<%- include('../includes/footer')-%>
