<%- include('../includes/header')-%>
<section>
  <div class="register">
    <h1>Reset Password Page</h1>
    <form action="/auth/reset-password" method="post" class="inner-form">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div class="w-full">
        <%if(errorMsg){%>
        <p class="error-status w-full"><%= errorMsg%></p>
        <%}%>
        <div class="w-full">
          <label for="email">Email</label
          ><input class="w-full" type="text" name="email" id="email" required />
        </div>
        <button class="btn mt-10">Reset Password</button>
      </div>
    </form>
  </div>
</section>
<%- include('../includes/footer')-%>
