<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="nav-container">
      <a href="/">
        <h1>Blog.<span class="red">io</span></h1></a
      >
      <div class="nav-inner">
        <%if(isLogin){%>
        <div class="btn-rounded">
          <a href="/admin/create-blog" class="icon white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
          </a>
        </div>
        <div class="avatar">
          <img
            class="ava-image"
            src="https://www.stryx.com/cdn/shop/articles/man-looking-attractive.jpg?v=1666662774"
            alt=""
          />
        </div>
        <div>
          <form action="/auth/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn">Logout</button>
          </form>
        </div>
        <%}else {%>
        <button class="btn"><a href="/auth/register">Register</a></button>
        <button class="btn"><a href="/auth/login">Login</a></button>
        <%}%>
      </div>
    </nav>

